<h1>Applicants#index</h1>
<hr>


<% @applicants.each do |applicant| %>
   <%= applicant.ap_code %> 
   <%= applicant.ap_name %> 
   <%= link_to 'Show', applicant %><br />

<% end %>

<hr>
<br/>

<%= link_to 'Add new Application Form', new_applicant_path %>