<h1>Qualifications#show</h1>

<strong>Qual Code</strong><%= @qualification.qual_code %><br />
<strong>Qual Description</strong><%= @qualification.qual_desc %><br />

<%= link_to 'Back', qualifications_path %>